@-webkit-keyframes galleryScaleDown {
  0% { -webkit-transform: scale(1.4,1.4); opacity: 0; }
  100% { -webkit-transform: scale(1,1); opacity: 1; }
}
@-moz-keyframes galleryScaleDown {
  0% { -moz-transform: scale(1.4,1.4); opacity: 0; }
  100% { -moz-transform: scale(1,1); opacity: 1; }
}
@-o-keyframes galleryScaleDown {
  0% { -o-transform: scale(1.4,1.4); opacity: 0; }
  100% { -o-transform: scale(1,1); opacity: 1; }
}
@-ms-keyframes galleryScaleDown {
  0% { -ms-transform: scale(1.4,1.4); opacity: 0; }
  100% { -ms-transform: scale(1,1); opacity: 1; }
}
@keyframes galleryScaleDown {
  0% { transform: scale(1.4,1.4); opacity: 0; }
  100% { transform: scale(1,1); opacity: 1; }
}
div.css3-gallery-scaleup {
	-webkit-animation: galleryScaleDown 0.5s ease-in-out;
	-moz-animation: galleryScaleDown 0.5s ease-in-out;
	-o-animation: galleryScaleDown 0.5s ease-in-out;
	-ms-animation: galleryScaleDown 0.5s ease-in-out;
	animation: galleryScaleDown 0.5s ease-in-out;
}  

/*** Header Link *************************************************************************/
div.i-want-site {
width:800px;
font-family: Verdana, Arial;
font-size: 11px; 
position:fixed; top:0px; left:50%; 
margin-left:-410px;
background: #000;
background: url(../../../img/black50.png) repeat; 
color: #fff; 
padding: 5px 10px 0px 10px; 
z-index: 99999; 
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
}

div.i-want-site { top:-20px; -webkit-transition: all 0.6s linear;-moz-transition: all 0.6s linear 1s;-o-transition: all 0.6s linear 1s;-ms-transition: all 0.6s linear 1s;transition: all 0.6s linear 1s; } 
div.i-want-site:hover { top:0px; -webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;-ms-transition: all 0.3s linear;transition: all 0.3s linear; } 

div.i-want-site p { margin-bottom: 8px; text-align:center; }

div.i-want-site a { color: #fff; border-bottom: 1px dotted #fff; text-decoration:none; font-weight:bold; }
div.i-want-site a:hover { color: #fff; border-bottom: 1px solid #fff; }

div.i-want-site a.i-want-site-link { 
   display:inline-block; padding: 5px 10px 5px 10px; 
	 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-decoration:none; font-size: 10px; font-weight:bold; text-align:center; text-transform:uppercase; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
	-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;
	color: #fff; background-color: #ff9000;
	background: #ff9000;
	border:none;
}

div.i-want-site a.i-want-site-link:hover { 
-moz-transform: scale(1.05);-webkit-transform: scale(1.01);-o-transform: scale(1.01);-ms-transform: scale(1.01);transform: scale(1.01); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; 
background-color: #f08e02;
}



/*** Footer Link *************************************************************************/
div.site-collection {
width:280px;
font-family: Verdana, Arial;
font-size: 11px; 
font-weight:bold;
position:fixed; bottom:0px; right:0px; 
background: #000; 
color: #fff; 
padding: 8px 0px 8px 0px;
text-align:center;
display:none;  
}

div.site-collection a { color: #fff; border-bottom: 1px dotted #fff; text-decoration:none; }
div.site-collection a:hover { color: #fff; border-bottom: 1px solid #fff; }
div.site-collection a.how-to-remove { margin-right:5px; color: #000; font-size: 11px; padding: 2px 4px 2px 4px; background-color: #fff; border:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }



/*** Clone Signup CSS ****************************************************************************/
 div#gallerysite_screen_overlay { 
     position: fixed; top: 0; left: 0; 
     width: 100%; height: 100%; 
     z-index: 99991 !important; 
     background: url(../../../img/black90.png) repeat;
}

div.gallerysite_screen_overlay_form {
 background: #fff;
 position: absolute; top: 20px; left:50%; 
 width:800px; margin-left:-400px;
 padding: 20px 20px 20px 20px; 
 z-index: 99992 !important;
}

div#id_gallerysite_screen_overlay_form_submitted 
{
	position: fixed !important; top: 40% !important; left:50% !important; 
	margin-top:-50px;
}

div#id_gallerysite_screen_overlay_form_submitted p.gallerysite_screen_overlay_waiting 
{
	font-size: 14px; color: #222; line-height: 18px;
}

div.gallerysite_screen_overlay_form   
{
	font-size:12px; color: #535331; line-height: 14px; 
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;  
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
}

div.gallerysite_screen_overlay_form p.hint { font-size: 11px; color: #444; margin-bottom: 20px; line-height: 14px;}

div.gallerysite_screen_overlay_form div.field-row { margin-bottom: 10px; }
div.gallerysite_screen_overlay_form fieldset { background: #fff5bb; padding: 5px 10px 0px 10px; margin-bottom: 20px; border: 1px solid #fac75a; }
div.gallerysite_screen_overlay_form fieldset input, #gallerysite_screen_overlay_form fieldset select { font-size:16px; width: 400px; }
div.gallerysite_screen_overlay_form fieldset div.field-row div.name { font-size:14px; padding-left:10px; position:relative; float:left; width: 180px; font-weight: bold; color: #873300; text-align:right; line-height:30px; }
div.gallerysite_screen_overlay_form fieldset div.field-row div.value { margin-left: 200px; color: #bb4600; }
div.gallerysite_screen_overlay_form fieldset div.field-row p.hint { margin: 5px 0px 0px 200px; font-size: 11px; color: #873300; }
div.gallerysite_screen_overlay_form p.error { font-size: 11px; color: #5e0000; background: #ffc3c3 url(../img/icons/icon-error.gif) no-repeat; border: 1px solid #bd1c1c; padding: 8px 20px 8px 30px; margin: 5px 0px 10px 0px; }
div.gallerysite_screen_overlay_form fieldset div.field-row p.error { margin: 5px 0px 0px 200px; }

div.gallerysite_screen_overlay_form h2 { font-size:16px; margin:0px 0px 10px 0px; color: #551e00; background: none; }

div.gallerysite_screen_overlay_form p.valid-coupon {color: #033c4f; margin: 5px 0px 0px 200px; font-size:11px; font-weight:bold; }
div.gallerysite_screen_overlay_form p.valid-coupon strong { font-size:16px; }

div.gallerysite_screen_overlay_form a { color: #a83b00; }
div.gallerysite_screen_overlay_form a.btn-gallerysite_screen_overlay_form 
{
	 display:inline-block; padding: 8px 20px 8px 20px; 
	 -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; text-decoration:none; font-size: 12px; font-weight:bold; text-align:center; text-transform:uppercase; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
	-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;
	color: #fff; background-color: #ff9000;
}

div.gallerysite_screen_overlay_form a.btn-gallerysite_screen_overlay_form strong 
{
	font-size: 14px; color: #692500; text-transform: lowercase; 
}

div.gallerysite_screen_overlay_form a.btn-gallerysite_screen_overlay_form:hover 
{
	 -moz-transform: scale(1.05);-webkit-transform: scale(1.05);-o-transform: scale(1.05);-ms-transform: scale(1.05);transform: scale(1.05); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; 
	 background-color: #f08e02;
}

div.gallerysite_screen_overlay_form a.btn-gallerysite_screen_overlay_form_create_site
{
	background: #ff9000 url(../../../img/icons/icon-32-ok.png) 10px center no-repeat;
	padding-left: 50px; text-align:left;
	line-height:20px;
}

div.gallerysite_screen_overlay_form a.btn-gallerysite_screen_overlay_form-cancel 
{
	 display:inline-block; padding: 2px 5px 2px 5px; 
	 -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; text-decoration:none; font-size: 12px; font-weight:bold; text-align:center; text-transform:uppercase; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.75); box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
	-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;
	color: #fff; background: #dc1a00;
}

div.gallerysite_screen_overlay_form a.btn-gallerysite_screen_overlay_form-cancel:hover 
{
	 -moz-transform: scale(1.05);-webkit-transform: scale(1.05);-o-transform: scale(1.05);-ms-transform: scale(1.05);transform: scale(1.05); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; 
	 background: #a11300;
}