@import "fonts/multiple1/stylesheet.css";
@import "fonts/multiple2/stylesheet.css"; 
@import "fonts/multiple3/stylesheet.css"; 
@import "fonts/multiple4/stylesheet.css"; 
@import "fonts/multiple5/stylesheet.css"; 
@import "fonts/multiple6/stylesheet.css"; 
@import "fonts/multiple7/stylesheet.css";
@import "fonts/multiple8/stylesheet.css";  

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table td { vertical-align: top; text-align: left; } 

/* background fixes */
html, body {height: 100%;}
* html #pagebody {height: 100%;}
div#pagebody {min-height: 100%;height: auto;/*height: 100%;*/}
div.blog-preview p.blog-text {	line-height: 130%; }
div.panel div.panel-body { line-height: 130%; }

input.grayed {color: #999;}
input.search-fld {margin: 0px 0 0;width: 120px;}

div.blog-text ol, div.blog-text ul { padding:10px 0px 10px 20px;}
div.blog-text ol li, div.blog-text ul li { margin:0px 0px 10px 0px;}
div.blog-text p {margin-bottom: 10px;}
div.blog-text h1 {font-size: 2em; margin: .67em 0;}
div.blog-text h2 {font-size: 1.5em; margin: .83em 0;}
div.blog-text h3 {font-size: 1.17em; margin: 1em 0;}
div.blog-text h4 {font-size: 1em; margin: 1.33em 0;}
div.blog-text h5 {font-size: .83em; line-height: 1.17em; margin: 1.67em 0;}
div.blog-text h6 {font-size: .67em; margin: 2.33em 0;}

img { -ms-interpolation-mode:bicubic; }

div#header a.settings, div#footer a.settings { position:absolute; display:inline-block; background: url('../img/icons/design/settings-icon-1.png') no-repeat;width: 24px; height: 24px; -moz-transform: scale(1.0);-webkit-transform: scale(1.0);-o-transform: scale(1.0);-ms-transform: scale(1.0);transform: scale(1.0); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; }
div#header a.settings { left:0px; }
div#footer a.settings { margin-top:-20px; }

div.panel a.settings { display:inline-block; background: url('../img/icons/design/settings-icon-1.png') no-repeat;width: 24px; height: 24px; overflow:visible; line-height: 14px; -moz-transform: scale(1.0);-webkit-transform: scale(1.0);-o-transform: scale(1.0);-ms-transform: scale(1.0);transform: scale(1.0); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; }
div.panel:hover a.settings { background: url('../img/icons/design/settings-icon-1.png') no-repeat; z-index: 8888; }
div.panel a.settings-edit { background: url('../img/icons/design/settings-icon-edit.png') no-repeat; display:inline-block; width: 24px; height: 24px; overflow:visible; line-height: 14px; margin-right:10px; -moz-transform: scale(1.0);-webkit-transform: scale(1.0);-o-transform: scale(1.0);-ms-transform: scale(1.0);transform: scale(1.0); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; }
div.panel:hover a.settings-edit { background: url('../img/icons/design/settings-icon-edit.png') no-repeat; z-index: 8888;}

a.page-settings-icon  
{
	display:inline-block;
    width:64px; height:64px; 
    background: url('../img/icons/design/icon-page.png') no-repeat; 
    top:5px; right:5px;
    position:fixed!important;
    z-index:70000!important; 
    -moz-transform: scale(0.9);-webkit-transform: scale(0.9);-o-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;
}
a.menu-settings-icon  
{
	display:inline-block;
    width:64px; height:64px;  
    background: url('../img/icons/design/icon-menu.png') no-repeat; 
    top:70px; right:5px;
    position:fixed!important;
    z-index:70000!important; 
    -moz-transform: scale(0.9);-webkit-transform: scale(0.9);-o-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;
}

div.panel a.settings:hover, div.panel a.settings-edit:hover, div#header a.settings:hover, div#footer a.settings:hover,
a.page-settings-icon:hover, a.menu-settings-icon:hover { -moz-transform: scale(1.05);-webkit-transform: scale(1.05);-o-transform: scale(1.05);-ms-transform: scale(1.05);transform: scale(1.05); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; }


table.carousel-table { margin:20px 0px 20px 0px; }
div.carousel-slide { padding: 4px 4px 4px 4px; }
table.carousel-table td.carousel-control { width:20px; vertical-align:middle; text-align:center; }
table.carousel-table td.carousel-control a { font-size:30px; text-decoration: none; font-weight:bold; line-height:30px; }
div.carousel-slide a.selected { border: 3px #0c618b solid; }

div.lbox-block { position:relative; }
div.lbox-block a.lbox { position:absolute; top:4px; left:4px; display:none; padding: 1px 0px 22px 22px; overflow:visible; line-height: 22px; }
div.lbox-block:hover a.lbox { display: block; background: url('../img/icons/zoom-in.gif') no-repeat; }


a.sitelinkbutton 
{
   padding: 8px 20px 8px 20px; 
   font-weight: bold; 
   font-size:14px;
   display:inline-block; text-align:center; 
   background: #d4d4d4; 
   color: #111 !important;
   text-decoration: none !important;
   border: 1px #777 solid;
   border-left-color: #cecece;
   border-top-color: #cecece; 
   -webkit-border-radius: 4px; 
   -moz-border-radius: 4px; 
   border-radius: 4px;
   -moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;
}
a.sitelinkbutton:hover { background: #ccc; color: #000 !important; -moz-transform: scale(1.1);-webkit-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1); -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; }

a.more { font-weight: bold; }

div.tabled-vertical-separator { margin-bottom:40px; width:100%; display:table; }
img.detailed-photo { padding: 5px 5px 5px 5px; background:#fff; }
div.panel-body p.navigation-bar { font-weight:bold; } 


/*** info-block category classes *********************************************************/
div.categories-list {}
ul.top-level-categories li { list-style: none; margin-bottom:15px; }
ul.top-level-categories li a { font-size: 120%; }
ul.sub-level-categories { margin-left: 20px; }
ul.sub-level-categories li { list-style: square; margin:8px 0px 8px 0px; }
ul.sub-level-categories li a { font-size: 100%; } 
ul.top-level-categories li.selected a { font-weight:bold; }
ul.top-level-categories li.selected li a { font-weight:normal; }
ul.top-level-categories li.selected li.selected a { font-weight:bold; }  


/*** info-block news classes *********************************************************/
div.basic-news-list-item, div.basic-featured-news-item, div.basic-other-news-item, div.basic-top-news-item { margin-bottom:20px; }
/*a.more-news {}
li.li-all-news {}*/

/*** info-block blogs classes *********************************************************/
div.basic-blogs-list-item, div.basic-featured-blogs-item, div.basic-other-blogs-item, div.basic-top-blogs-item { margin-bottom:20px; }
/*a.more-blogs {}
li.li-all-blogs {}*/

/*** info-block files classes *********************************************************/
div.basic-files-list-item, div.basic-featured-files-item, div.basic-other-files-item, div.basic-top-files-item { margin-bottom:20px; }
/*a.more-files {}
li.li-all-files {}*/
a.sitelinkbutton-download-file { padding: 5px 15px 5px 15px; font-size: 12px; }

/*** info-block albums & photos classes *********************************************************/
div.basic-albums-list-item, div.basic-featured-albums-item, div.basic-other-albums-item, div.basic-top-albums-item, div.basic-photos-list-item { margin-bottom:30px; }
center.detailed-album-photo { text-align: center; margin-bottom:30px; }
/*a.more-albums {}
li.li-all-albums {}*/

/*** info-block forums & discussions classes *********************************************************/
div.basic-forums-list-item, div.basic-discussions-list-item { margin-bottom:20px; }
/*a.more-forums {}
li.li-all-forums {}*/


/*** info-block catalog classes *********************************************************/
div.basic-item-separator { }
div.featured-item {}
div.repeat-padding { margin-right: 20px; }
div.repeat-padding-alone { margin: 0px 20px 20px 0px; float:left; }
div.basic-products-list-item, div.basic-featured-products-item, div.basic-other-products-item, div.basic-top-products-item { margin-bottom:30px; }
a.lnk-products-list-addtocart { float:right; }
div.item-already-in-the-shopping-cart { border: 1px solid #ccc;padding:10px 20px 10px 20px !important; }
div.form-products-list-sortby { display:block; margin-bottom: 20px; }
div.add-to-shopping-cart input#amount { margin-right:20px; font-size: 16px; padding: 3px 3px 3px 3px; }
div.add-to-shopping-cart a.sitelinkbutton { padding: 6px 20px 6px 20px; }
/*a.more-items {}
li.li-all-items {}*/
span.end-price { font-size:130%; }
span.discount-price { font-weight: normal; text-decoration: line-through; }




div.block-need-to-login { margin: 30px 0px 50px 0px; text-align:center; } 
div.block-send-order, div.block-save-changes { margin: 20px 0px 50px 0px; }

div.block-robokassa  
{
    width: 300px;
    padding: 30px 10px 10px 10px;
    background: #fff url(../img/robokassa.jpg) no-repeat 8px 6px; 
    float:right; 
    border: 1px dotted #ccc; 
    -webkit-border-radius: 4px; 
   -moz-border-radius: 4px; 
   border-radius: 4px;
}

/*** forums classes *********************************************************************/
div.detailed-forum { width:100%; display:table; margin-top:20px; }
div.create-new-discussion { display: block; margin: 20px 0px 40px 0px; }
div.create-new-discussion a { display: inline-block; font-weight: bold; }

table.custom-properties-table { border: 1px solid #777; width: 100%; }
table.custom-properties-table td { border-top: 1px solid #777; vertical-align: middle; padding: 5PX 10PX 5PX 10PX; }

/*** search page *********************************************************************/
a.lnk-search { padding: 4px 20px 4px 20px; margin-left:20px; font-size:14px; }
a.img-link img { padding: 2px 2px 2px 2px; border: 1px #aaa solid; background: #fff; }
a.img-link:hover img { border-color: #3399CC; } 
a.lnk-delete { padding: 2px 10px 2px 10px; font-size:11px; }
img.attached-photo { float: left; margin-right: 20px; }


div.panel div.panel-body p.tags a, 
a.more, .paginator a.page { display:inline-block; -moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1); -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out; }

div.panel div.panel-body p.tags a:hover, 
a.more:hover, .paginator a.page:hover { display:inline-block; -moz-transform: scale(1.1);-webkit-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1); -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out; }

ul.page_tabs li.mli:hover ul.submenu { display:block !important; } 


/******************************************************/
@-webkit-keyframes resetScaleDown {
  0% { -webkit-transform: scale(2.4,2.4); opacity: 0; }
  100% { -webkit-transform: scale(1,1); opacity: 1; }
}
@-moz-keyframes resetScaleDown {
  0% { -moz-transform: scale(2.4,2.4); opacity: 0; }
  100% { -moz-transform: scale(1,1); opacity: 1; }
}
@-o-keyframes resetScaleDown {
  0% { -o-transform: scale(2.4,2.4); opacity: 0; }
  100% { -o-transform: scale(1,1); opacity: 1; }
}
@-ms-keyframes resetScaleDown {
  0% { -ms-transform: scale(2.4,2.4); opacity: 0; }
  100% { -ms-transform: scale(1,1); opacity: 1; }
}
@keyframes resetScaleDown {
  0% { transform: scale(2.4,2.4); opacity: 0; }
  100% { transform: scale(1,1); opacity: 1; }
}


@keyframes resetSettingsDown{
    0% { transform: scale(2.4) rotate(0);}
    50% { transform: scale(0.5) rotate(180deg);}
    100% { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes resetSettingsDown{
    0% { -webkit-transform: scale(2.4) rotate(0);}
    50% { -webkit-transform: scale(0.5) rotate(180deg);}
    100% { -webkit-transform: scale(1) rotate(360deg);}
}
@-moz-keyframes resetSettingsDown{
    0% { -moz-transform: scale(2.4) rotate(0);}
    50% { -moz-transform: scale(0.5) rotate(180deg);}
    100% { -moz-transform: scale(1) rotate(360deg);}
}
@-o-keyframes resetScaleDown {
    0% { -o-transform: scale(2.4) rotate(0);}
    50% { -o-transform: scale(0.5) rotate(180deg);}
    100% { -o-transform: scale(1) rotate(360deg);}
}
@-ms-keyframes resetScaleDown {
    0% { -ms-transform: scale(2.4) rotate(0);}
    50% { -ms-transform: scale(0.5) rotate(180deg);}
    100% { -ms-transform: scale(1) rotate(360deg);}
}

div.css3-reset-scaleup, 
a.page-settings-icon,
a.menu-settings-icon,
div.panel:hover a.settings-edit  
{
	-webkit-animation: resetScaleDown 0.5s ease-in-out;
	-moz-animation: resetScaleDown 0.5s ease-in-out;
	-o-animation: resetScaleDown 0.5s ease-in-out;
	-ms-animation: resetScaleDown 0.5s ease-in-out;
	animation: resetScaleDown 0.5s ease-in-out;
}  

div.panel:hover a.settings, 
div#header:hover a.settings, 
div#footer:hover a.settings
{
	-webkit-animation: resetSettingsDown 0.5s ease-in-out;
	-moz-animation: resetSettingsDown 0.5s ease-in-out;
	-o-animation: resetSettingsDown 0.5s ease-in-out;
	-ms-animation: resetSettingsDown 0.5s ease-in-out;
	animation: resetSettingsDown 0.5s ease-in-out;
}

ul.submenu { padding-top: 5px; }

label.selected-label { font-weight:bold; }
table.shopping-cart { width: 100%; }
table.shopping-cart td { vertical-align: middle; padding: 10px 10px 10px 10px; }
table.shopping-cart th { vertical-align: middle; padding: 10px 10px 10px 10px; border-bottom: 1px dotted #777; }
table.shopping-cart td { border-bottom: 1px dotted #777; }
